.leagues-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: spacing(4);
}

.league-card {
  background-color: #444;
  border-radius: spacing(2);
  min-height: spacing(100);
  position: relative;
  overflow: hidden;
  max-height: 45vh;
  &__image {
    position: absolute;
    left: 50%;
    height: 130%;
    transform: translateX(-50%);
    filter: brightness(0.6);
  }
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    padding: 8px;
  }
  &__content {
    background-color: rgba($color: #000, $alpha: 0.9);
  }
}
.league-table {
}

@media screen and (max-width: spacing(280)) {
  .leagues-grid {
    margin: 0 spacing(4);
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: spacing(270)) {
  .leagues-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: spacing(160)) {
  .leagues-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
