.leagues-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: spacing(4);
}

.league-card {
  background-color: #444;
  border-radius: spacing(2);
  min-height: spacing(100);
  position: relative;
  overflow: hidden;
  max-height: 45vh;
  &__image {
    position: absolute;
    // width: 160%;
    left: 50%;
    height: 130%;
    transform: translateX(-50%);
    filter: brightness(0.3);
  }
  &__inner {
    height: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 2;
    padding: 8px;
  }

  &::before {
    // content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(
      to bottom,
      rgba(68, 68, 68, 0.5),
      rgba(68, 68, 68, 0.55),
      rgba(68, 68, 68, 0.6),
      rgba(68, 68, 68, 0.6),
      rgba(68, 68, 68, 1),
      rgba(68, 68, 68, 1),
      rgba(68, 68, 68, 1),
      rgba(68, 68, 68, 1),
      rgba(68, 68, 68, 1),
      rgba(68, 68, 68, 1),
      rgba(68, 68, 68, 1),
      rgba(68, 68, 68, 1),
      rgba(68, 68, 68, 1),
      rgba(68, 68, 68, 1),
      rgba(68, 68, 68, 1),
      rgba(68, 68, 68, 1)
    );

    z-index: 1;
  }
}

@media screen and (max-width: spacing(280)) {
  .leagues-grid {
    margin: 0 spacing(4);
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: spacing(270)) {
  .leagues-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: spacing(160)) {
  .leagues-grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
