.menu-icon {
  --size: 32px;
  display: block;
  background-color: #333;
  padding: 2px;
  margin: 4px 0;
  width: var(--size);
  height: var(--size);
  text-decoration: none;
  cursor: pointer;
  @include transition();
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: white;
  border: none;
  &__inner {
    height: calc(var(--size) - 4px);
    border: 2px solid #aaa;
    padding: 4px;
    display: flex;
    justify-content: center;
  }
  &.open {
    width: calc(var(--size) * 3);
    .menu-icon__inner {
      justify-content: start !important;
    }
  }
  &:hover {
    background-color: darken(#333, 10%);
  }
  &.active {
    background-color: darken(#333, 20%);
  }
}
