.menu-icon {
  display: block;
  background-color: #333;
  padding: spacing(0.5);
  margin: spacing(1) 0;
  width: spacing(8);
  height: spacing(8);
  text-decoration: none;
  cursor: pointer;
  @include transition();
  text-transform: uppercase;
  letter-spacing: 0.4px;
  color: white;
  border: none;
  &__inner {
    height: spacing(7);
    border: 2px solid #aaa;
    padding: spacing(1);
    display: flex;
    justify-content: center;
  }
  &.open {
    width: spacing(24);
    .menu-icon__inner {
      justify-content: start !important;
    }
  }
  &:hover {
    background-color: darken(#333, 10%);
  }
  &.active {
    background-color: darken(#333, 20%);
  }
}
