@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
body {
  background-color: #222;
  color: white;
  font-family: "Open Sans", sans-serif;
}

@mixin expandSidebar {
  transition: 0.3s ease-in-out;
}

.main {
  --size: 42px;
  margin-left: var(--size);
  @include expandSidebar();
  padding: 8px;
  &.extended {
    margin-left: calc(var(--size) * 2.5);
  }
}

.logo {
  cursor: pointer;
}
.spacer {
  flex: 1;
}
.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  background: rgba($color: white, $alpha: 0.2);
  display: grid;
  place-items: center;
}

@import "signIn";
@import "menu-icon";
@import "vertical-bar";
